block variables
	title Stock | Stock List Page
extends layout

block content
	div.bodydiv
		h2 Stock List Page
	div#stockInputDiv.stockInputDiv
		form(id='stockInput-form', class = stockInputForm, method='POST', action='')
			| Stock Symbol
			input#stockInput.stockInputBox(type='text', placeholder='Enter a stock to track')
			button#stockInput.btn(type='submit', onlick='inputTicker()') Track
	div#stocklist.stock_data


block logout
	a#logout(href='/users/logout') Logout
	a#logout(href='/stock/stock') Stock
	a#logout(href='/stock/stockview') View
	a#logout(href='/stock/managemoney') Money

block scripts
	script(type='text/javascript')
		| var finalHtml =!{JSON.stringify(stockHtml)};
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	script(src='/scripts/watchlist.js') 
	script(type='text/javascript').
		displayWatchList(finalHtml);


