block variables
	title Stock | Stock List Page
extends layout

block content
	div.bodydiv
		h2 Stock List Page
	div#stocklist.stock_data

block logout
	a#logout(href='/users/logout') Logout
	a#logout(href='/stock/stock') Stock
	a#logout(href='/stock/stockview') View
	a#logout(href='/stock/managemoney') Money

block scripts
	script(type='text/javascript')
		| var finalHtml =!{JSON.stringify(stockHtml)};
	script(src='/scripts/watchlist.js') 
	script(type='text/javascript').
		displayWatchList(finalHtml);