block variables
	title Stock | Stock List Page
extends layout

block content
	div.bodydiv
		h2 Stock List Page

block logout
	a#logout(href='/users/logout') Logout
	a#logout(href='/stock/addStock') Stock
	a#logout(href='/stock/stockview') View
	a#logout(href='/stock/managemoney') Money

block scripts