block variables
	title Stock | Stock View Page
extends layout

block content
	div.bodydiv
		br
		h2 Stock View Page

block logout
	a#logout(href='/users/logout') Logout
	a#logout(href='/stock/addStock') Add Stock
	a#logout(href='/stock/stocklist') List Stock
	a#logout(href='/stock/managemoney') Manage Money
    

block scripts