block variables
	title Stock | Stock View Page
extends layout


block content
	div.bodydiv
		h2 Stock View Page

		#container(style='width:100%; height:400px;')

block logout
	a#logout(href='/users/logout') Logout
	a#logout(href='/stock/addStock') Stock
	a#logout(href='/stock/stocklist') List
	a#logout(href='/stock/managemoney') Money
	#container(style='width:100%; height:400px;')
	#slider
	#slider2
	
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
	script(src="https://code.jquery.com/jquery-3.2.1.min.js")
	script(src="https://code.highcharts.com/highcharts.js")
	script(src="https://code.highcharts.com/modules/exporting.js")
	script(src="/js/stockView.js")