block variables
	title Stock | Add Stock Page
extends layout

block content
	div.bodydiv
		h2 Add Stock Page
		div.searchStocks 
			input.awesomplete#mySearch(placeholder="Search stocks here...")
			br
			button(name="submit" id="addStockFinal") Add Stock

		//div.stockList
			div.stock
				b Apple
			div.stock
				b Google
			div.stock
				b Pizza
			div.stock
				b Samsung
			div.stock
				b Utah Jazz
			div.stock
				b Dongle
			div.stock
				b Funny 
			div.stock
				b JD Machine
		
block logout
	a#logout(href='/users/logout') Logout
	a#logout(href='/stock/stocklist') List
	a#logout(href='/stock/stockview') View
	a#logout(href='/stock/managemoney') Money

block scripts
	script(src="https://rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js")
	script(src="/js/nasdaq.js")
	script(src="/js/nyse.js")
	script(src="/js/autoComplete.js")
